.carousel-con {
    max-width: 55vh;
    overflow: hidden;
}

body {
    color: whitesmoke;
}

#passions, .coffee {
    font-family: 'Caveat', cursive;
}

.top {
    height: 25vh;
}

#passions {
    font-size: 2.5rem;
    display: inline;
    margin-left: 10%;
}

.coffee {
    margin-top: 0.75rem;
    font-size: 2rem;
}

#passions-list {
    line-height: 1.8rem;
    font-size: 1.5rem;
    margin-left: 20%;
}

.accordion-button, .accordion-body {
    background-color: black!important;
    color: whitesmoke!important;
}

.accordion-item {
    border-color: rgb(71, 71, 71);
}

.accordion-button {
    color: #02e829!important;
}

/* .top {
    height: 30vh;
} */

.btm {
    height: 10vh;
}

#mission {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    display: inline;
}

.main {
    background-image: url('../images/drk_rock.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.m {
    background-color: rgb(0,0,0, 0.65);
    padding: 2rem;
}