.dropdown-menu {
    background: rgb(217, 219, 217, 0.3);
}

.dropdown-item {
    color: whitesmoke!important;
}

.dropdown-item:hover {
    background-color: rgb(0,0,0,0.3);
}

.nav-link.dropdown-toggle, .navbar-brand:hover {
    color: #959696;
}

nav, .footer {
    background-color: black;
}

.navbar a:link {
    color: #959696;
    font-family: 'IBM Plex Mono', monospace;
}

.navbar .nav-link:visited, .navbar-brand:visited {
    color: rgb(63, 109, 224);
}

.navbar .nav-link:hover{
    color: #02e829;
}

.navbar-nav .nav-link.active {
    color: whitesmoke;
}

.navbar-brand {
    color: whitesmoke;
}

body {
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.1rem;
}

.footer {
    color: whitesmoke;
}

.footer-link:hover {
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 5px 5px rgb(255,255,255,0.6);
}